.fs-7 {
  font-size: 0.85rem;
}
.fs-8 {
  font-size: 0.75rem;
}

.light-bg {
  background-color: var(--section-bg);
}
.dark-bg {
  background-color: var(--dark);
}
.text-darker {
  color: var(--dark);
}
.bg-yellow {
  background-color: var(--yellow);
}
.text-yellow {
  color: var(--yellow);
}
.text-green {
  color: var(--green);
}
.fc-bg {
  background-color: #1877f2;
}
.twitter-bg {
  background-color: #1da1f2;
}
.linkedin-bg {
  background-color: #0077b5;
}
.yt-bg {
  background-color: #ff0000;
}
